
/**************************************
Base Styles
***************************************/

html body{
	background-color: #809367;
}





/**************************************
Design
***************************************/
html body .designItemContainer span h2{
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}
#wrapper .post-content h2.designTitle {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.fusion-content-boxes.content-boxes-icon-on-side .content-container.icon-large {
    padding-left: 75px;
    margin-top: -30px;
}

body .fusion-content-boxes {
	margin-bottom: 10px;
}

html body .designItemContainer .designButton .fusion-button {
    background-color: #809367;
}

#wrapper #designItem1 a.button.designButton,
#wrapper #designItem2 a.button.designButton,
#wrapper #designItem3 a.button.designButton{
    background-color: #809367;
    background-image: linear-gradient(to top, #809341, #809341);    
}
#wrapper #designWrapper #designItem1 a.button.designButton,
#wrapper #designWrapper #designItem2 a.button.designButton,
#wrapper #designWrapper #designItem3 a.button.designButton{
    background-color: #00adef;
    background-image: linear-gradient(to top, #00adef, #00adef);    
}

#wrapper .designList i.large{
    font-size: 35px;
}



/**************************************
Footer
***************************************/

footer .textwidget h3{
	margin-top: 10px;
	margin-bottom: 0px;
}

footer img{
	margin: 10px;
	height: 120px;
}