
/**************************************
Base Styles
***************************************/

html body{
	background-color: #809367;
}
html body {
    margin: 0;
    color: #747474;
    min-width: 320px;
    -webkit-text-size-adjust: 100%;
    font: 13px/20px 'PTSansRegular', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    font-stretch: normal;
    font-size: 13px;
    line-height: 20px;
    font-family: PTSansRegular, Arial, Helvetica, sans-serif;
    font-weight: 300;
}


#main h2 {
    font: 18px/20px 'MuseoSlab500Regular', arial, helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    font-stretch: normal;
    font-size: 18px;
    line-height: 20px;
    font-family: MuseoSlab500Regular, arial, helvetica, sans-serif;
        font-weight: 300;
}

html body .fusion-content-boxes.content-boxes-icon-on-top .heading img {
    margin-bottom: 20px;
    height: 65px;
    width: auto;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

a.button{
    transition: 1s all;
}
a.button:hover{
    color:black;
}

/*
FORM
*/
html body .gform_wrapper .gform_button{
    background: #809367;
    background-image: linear-gradient( to top,#809367, #809367 );
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb( 128, 147, 103 );    
}
.gform_wrapper .gfield input[type=text]{
    width: 100%;
}
/**************************************
Printers
***************************************/

#wrapper #printWrapper #printItem1 a.button.printButton,
#wrapper #printWrapper #printItem2 a.button.printButton,
#wrapper #printWrapper #printItem3 a.button.printButton,
#wrapper #printWrapper #printItem4 a.button.printButton{
    background-color: #ec008b;
    background-image: linear-gradient(to top, #ec008b, #ec008b);    
}


#wrapper #printWrapper #printItem1 a.button.printButton:hover,
#wrapper #printWrapper #printItem2 a.button.printButton:hover,
#wrapper #printWrapper #printItem3 a.button.printButton:hover,
#wrapper #printWrapper #printItem4 a.button.printButton:hover{
    background-color: #fff100;
    background-image: linear-gradient(to top, #fff100, #fff100);    
}


/**************************************
Design
***************************************/
html body .designItemContainer span h2{
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}
#wrapper .post-content h2.designTitle {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.fusion-content-boxes.content-boxes-icon-on-side .content-container.icon-large {
    padding-left: 75px;
    margin-top: -30px;
}

body .fusion-content-boxes {
	margin-bottom: 10px;
}

html body .designItemContainer .designButton .fusion-button {
    background-color: #809367;
}


#wrapper #designItem1 a.button.designButton,
#wrapper #designItem2 a.button.designButton,
#wrapper #designItem4 a.button.designButton,
#wrapper #designItem3 a.button.designButton{
    background-color: #809367;
    background-image: linear-gradient(to top, #809341, #809341);    
}

#wrapper #designItem1 a.button.designButton:hover,
#wrapper #designItem2 a.button.designButton:hover,
#wrapper #designItem4 a.button.designButton:hover,
#wrapper #designItem3 a.button.designButton:hover{
    color: black;
    background-color: #fff100;
    background-image: linear-gradient(to top, #fff100, #fff100);    
}

body #wrapper a.labelsButton.button.fusion-button {
    background-color: #809367;
    background-image: linear-gradient(to top, #809367, #809367);
}


#wrapper .designList i.large{
    font-size: 55px;
}


/**************************************
LABELS
***************************************/

body #wrapper #labelWrapper a.labelsButton.fusion-button{
    background-color: #00adef;
    background-image: linear-gradient(to top, #00adef, #00adef);    
}

body #wrapper #labelWrapper a.labelsButton.fusion-button:hover{
    background-color: #00adef;
    background-image: linear-gradient(to top, #00adef, #00adef);    
}

body #wrapper #labelWrapper #labelsItem1 a.button.designButton,
body #wrapper #labelWrapper #labelsItem2 a.button.designButton,
body #wrapper #labelWrapper #labelsItem4 a.button.designButton,
body #wrapper #labelWrapper #labelsItem3 a.button.designButton{
    background-color: #00adef;
    background-image: linear-gradient(to top, #00adef, #00adef);    
}
/**************************************
Footer
***************************************/

footer .textwidget h3{
	margin-top: 10px;
	margin-bottom: 0px;
}

footer img{
	margin: 10px;
	height: 120px;
}