
/**************************************
Base Styles
***************************************/

html body{
	background-color: #809367;
}




/**************************************
Footer
***************************************/

footer .textwidget h3{
	margin-top: 10px;
	margin-bottom: 0px;
}

footer img{
	margin: 10px;
	height: 120px;
}